/** CSS STYLE **/
@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: 'Neucha';
  src: url('./fonts/Neucha-Regular.ttf');
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --default: #42413c;
  --primary-dark: #42413c;
  --black: #2a2626;
  --translucent-black: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --primary: #fe8a02;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

.font {
  color: var(--black);
  font-weight: normal;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  line-height: 1.6em;
}

.font-neucha {
  font-weight: normal;
  font-family: Neucha, cursive;
  line-height: 1;
}

.fs-24 {
  font-size: 24px;
}

.fs-34 {
  font-size: 34px;
}

.translucent-black {
  color: var(--translucent-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

a {
  text-decoration: none;
}

.bg-white {
  background-color: var(--white);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-light {
  background-color: var(--light);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-primary {
  background-color: var(--primary);
}

.col {
  flex: 1 0 0;
}

.d-flex {
  display: flex;
}

.fs-52 {
  font-size: 52px;
}

.fs-18 {
  font-size: 18px;
}

.fs-12 {
  font-size: 12px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-100 {
  margin-top: 100px;
}

.p-55 {
  padding: 55px 0 55px 55px;
}

.pt-100 {
  padding-top: 100px;
}

.wd-350 {
  width: 350px;
}

.text-white {
  color: var(--white);
}

.text-brown {
  color: var(--brown);
}

.text-white-50 {
  color: var(--translucent-white);
}

.text-dark-50 {
  color: var(--translucent-black);
}

.td-n {
  text-decoration: none;
}

.ta-c {
  text-align: center;
}

.pos-r {
  position: relative;
}

.container {
  position: relative;

  max-width: 1110px;
  margin: auto;
  padding: 100px 0;
}

.align-left {
  text-align: left;
}

.primary {
  color: var(--primary);
}

.section-bg::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--light);

  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: '';
}

/*** Header ***/

.header-title {
  position: relative;

  margin-bottom: 194px;
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.columns {
  position: relative;

  display: block;

  text-align: left;
  column-count: 2;
  column-gap: 20px;
}

.columns p {
  margin-top: 0;
}

.btn {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 148px;
  height: 49px;

  font-weight: bold;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
}

.btn a {
  color: var(--white);
}

/*** Main ***/

.video {
  margin-bottom: -100px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.card {
  box-sizing: border-box;

  width: 350px;
  margin-bottom: 20px;
  padding: 24px;

  color: var(--default);

  background-color: var(--light);
}

.card-title {
  margin-bottom: 40px;

  color: var(--primary-dark);

  font-weight: normal;
  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1;
}

.card-body {
  color: var(--primary);
  font-size: 52px;
}

.card:hover {
  background-color: var(--primary);
}

.card:hover * {
  color: var(--white);
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.subheader {
  padding: 5px 0 5px 5px;

  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.container-footer {
  margin-top: 20px;
}

.footer {
  width: 1110px;
  margin: auto;
  padding: 100px 0;
}

.footer-subscribe {
  display: flex;
  align-items: center;
  padding: 43px 75px 41px 52px;
}

.footer-input {
  flex-grow: 1;
  box-sizing: border-box;
  height: 50px;

  padding: 15px;

  font-size: 18px;

  background: #fff;
  border: 1px solid #e3e3e3;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  height: 50px;
  padding: 0;

  background-color: var(--primary);

  border: 0;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
}

.form-btn::before {
  content: url("./images/send.svg");
}

.footer-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  font-size: 14px;
}
